{% extends 'base.html.twig' %}

{% block title %}Modifier une catégorie{% endblock %}

{% block body %}
    <h1>Modifier une catégorie</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dashboard_category') }}">Retour aux catégories</a>

    {{ include('dashboard/category/_delete_form.html.twig') }}
{% endblock %}
