{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <section class="action-page">
        <h1>Ajouter une nouvelle catégorie</h1>

        {{ include('dashboard/category/_form.html.twig') }}

        <a href="{{ path('app_dashboard_category') }}">Retour aux catégories</a>
    </section>
{% endblock %}
