{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<div class="position-relative">
	<h1 class="main-title position-absolute text-uppercase start-50 translate-middle text-white fw-bold">{{ title }}</h1>
	<img src="https://assets.redbullshop.com/f_auto,q_auto/t_banner/content/RBR/2022/Official%20Teamline/RBR_rbrotllaunch_header_04.jpg" alt="" class="w-100 h-auto">
</div>

<h2 class="text-center fw-bold fs-1 pt-4">Bienvenue sur la boutique officielle de Red Bull Racing !</h2>
<p class="text-center fw-300 fs-3 pt-3">Ici vous trouverez tous les articles officiels de la saison actuelle de Formule 1.</p>
<p class="text-center fw-300 fs-3">En ce moment, profitez de notre nouvelle collection fraîchement dévoilée !</p>

{% endblock %}
