{% extends 'base.html.twig' %}

{% block title %}Modifier un produit{% endblock %}

{% block body %}
    <h1>Modifier un produit</h1>

    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dashboard_product') }}">Retour aux produits</a>

    {{ include('dashboard/product/_delete_form.html.twig') }}
{% endblock %}
